// site
$site-width: 800px;

// font-size
$base-font-size: 16px;

// box-view
$boxed-view-bg: #ddd;
$boxed-view-box-bg: white;

// spacing
$space: 14px;

// button
$button-padding: 10px;
$button-bg: #5b4681;

// header
$header-bg: #5b4681;
$header-color: white;

// links
$link-bg: #f9f9f9;
$link-border: darken($link-bg, 8%);