.button {
  background-color: $button-bg;
  border: none;
  color: white;
  cursor: pointer;
  padding: $button-padding;
  text-transform: uppercase;
  font-size: $base-font-size;
  font-family: 'Lato';
  margin-bottom: $space;
  line-height: 1.2;
}

.button--link {
  display: inline-block;
  text-decoration: none;
  background-color: $button-bg;
  padding: $button-padding;
  text-transform: uppercase;
  color: white;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-bg;
  color: $button-bg;
  padding: 3px 8px;
  margin-right: 5px;
  margin-bottom: 0;
}

.button--secondary {
  color: #777;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.button--logout {
  font-family: 'Montserrat';
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}

.button--delete {
  margin: 0;
}